src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sr="http://www.mulesoft.org/schema/mule/service-registry" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:jdbc="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:debugger="http://www.mulesoft.org/schema/mule/debugger" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.4.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd 
http://www.mulesoft.org/schema/mule/service-registry http://www.mulesoft.org/schema/mule/service-registry/current/mule-service-registry.xsd 
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd 
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd 
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd 
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd 
http://www.mulesoft.org/schema/mule/debugger http://www.mulesoft.org/schema/mule/debugger/current/mule-debugger.xsd 
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd 
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd ">
    <ajax:connector name="ajaxServer" serverUrl="http://0.0.0.0:8090/orders" resourceBase="${app.home}/docroot" doc:name="Ajax"/>
    <data-mapper:config name="JsonToXml" transformationGraphPath="json_to_xml.grf" doc:name="DataMapper"/>
    <data-mapper:config name="orderSummaryToJson" transformationGraphPath="ordersummarytojson_1.grf" doc:name="DataMapper"/>
    <flow name="orderRequest" doc:name="orderRequest">
        <ajax:inbound-endpoint channel="/orders/request" responseTimeout="10000" connector-ref="ajaxServer" doc:name="/orders/request"/>
        <data-mapper:transform config-ref="JsonToXml" doc:name="Data-mapper"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <mulexml:xslt-transformer maxIdleTransformers="2" maxActiveTransformers="5" xsl-file="XmlToSoapEnvelope.xsl" doc:name="Xml to Soap Envelope"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="orderRequest" doc:name="VM"/>        
        <object-to-string-transformer doc:name="Object to String"/>
        <mulexml:xslt-transformer maxIdleTransformers="2" maxActiveTransformers="5" xsl-file="SoapEnvelopeToBodyChild.xslt" doc:name="Xml to Soap Envelope"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <data-mapper:transform config-ref="orderSummaryToJson" doc:name="Data-mapper"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
    
    <!-- have to create this VM bridge because of MULE-6749 -->
	<flow name="orderRequestBridge" doc:name="orderRequestBridge">
		<vm:inbound-endpoint exchange-pattern="request-response" path="orderRequest" doc:name="VM"/>
        <set-property propertyName="#['X-Anypoint-ContractKey']" value="5159f7e4e4b0c2142d10dc27" doc:name="Set Contract Key"/>
        <dynamic-all doc:name="Dynamic Router">
            <sr:service-contract-lookup serviceRoundRobin="false" serviceContract="5159f7e4e4b0c2142d10dc27"/>
        </dynamic-all>
        <object-to-string-transformer doc:name="Object to String"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="Routing not successful for #[payload]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    
    
    
    <flow name="orderProxy" doc:name="orderProxy">
        <ajax:inbound-endpoint channel="/orders/soap" responseTimeout="10000" connector-ref="ajaxServer" doc:name="/orders/soap"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="orderProxy" doc:name="VM"/>
	</flow>
	
	<!-- have to create this VM bridge because of MULE-6749 -->
	<flow name="orderProxyBridge" doc:name="orderProxyBridge">
		<vm:inbound-endpoint exchange-pattern="request-response" path="orderProxy" doc:name="VM"/>
        <set-property propertyName="#['X-Anypoint-ContractKey']" value="5159fc55e4b0c2142d10dc83" doc:name="Set Contract Key"/>
        <dynamic-all doc:name="Dynamic Router">
            <sr:service-contract-lookup serviceRoundRobin="false" serviceContract="5159fc55e4b0c2142d10dc83"/>
        </dynamic-all>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>

    <flow name="manufacturers" doc:name="manufacturers">
        <ajax:inbound-endpoint channel="/orders/manufacturers" responseTimeout="10000" connector-ref="ajaxServer" doc:name="/orders/manufacturers"/>
        <expression-transformer expression="#['[&quot;Samsung&quot;,&quot;Philips&quot;,&quot;Sony&quot;]']" doc:name="Create Manufacturers"/>
    </flow>
</mule>
